Repository homebridge/HAP-NodeJS, pull requests merged in 2022-11, with the labels that each got.

#981 Ensure updateCharacteristic and setCharacteristic method signatures are in sync with updateValue and setValue.
  src/lib/Characteristic.ts
  src/lib/Service.ts
Labels: fix

#982 Ensure systemd-resolved has mDNS enabled
  package-lock.json
  package.json
  src/lib/Advertiser.ts
  src/types/dbus-native.d.ts
Labels: fix

#973 Improve test coverage
  README.md
  jest.config.js
  jest.config.json
  package-lock.json
  package.json
  src/accessories/Light_accessory.ts
  src/index.spec.ts
  src/internal-types.ts
  src/lib/Accessory.spec.ts
  src/lib/Accessory.ts
  src/lib/Characteristic.spec.ts
  src/lib/Characteristic.ts
  src/lib/HAPServer.spec.ts
  src/lib/HAPServer.ts
  src/lib/Service.spec.ts
  src/lib/Service.ts
  src/lib/camera/RTPStreamManagement.ts
  src/lib/camera/RecordingManagement.spec.ts
  src/lib/controller/AdaptiveLightingController.ts
  src/lib/controller/CameraController.spec.ts
  src/lib/controller/CameraController.ts
  src/lib/controller/DoorbellController.spec.ts
  src/lib/controller/RemoteController.ts
  src/lib/util/HAPHTTPError.ts
  src/lib/util/color-utils.ts
  src/lib/util/eventedhttp.spec.ts
  src/lib/util/eventedhttp.ts
  src/lib/util/hapCrypto.spec.ts
  src/lib/util/hapCrypto.ts
  src/lib/util/promise-utils.ts
  src/lib/util/request-util.spec.ts
  src/lib/util/time.ts
  src/lib/util/tlv.spec.ts
  src/lib/util/tlv.ts
  src/lib/util/tlvError.ts
  src/test-utils/HAPHTTPClient.ts
  src/test-utils/PairSetupClient.ts
  src/test-utils/PairVerifyClient.ts
  tsconfig.json
Labels: feature, chore

#983 Remove accidental usage of private jest type
  src/lib/Accessory.ts
  src/types.ts
Labels: fix

#988 Upgrade minimum node version and dependency maintenance
  package-lock.json
  package.json
  src/accessories/Camera_accessory.ts
  src/accessories/gstreamer-audioProducer.ts
  src/lib/datastream/DataStreamParser.ts
  src/lib/util/eventedhttp.spec.ts
  src/lib/util/eventedhttp.ts
  src/lib/util/hapCrypto.ts
  src/lib/util/net-utils.ts
Labels: breaking change, chore

#989 Removing deprecated service and characteristic definitions
  src/lib/Characteristic.ts
  src/lib/Service.ts
  src/lib/definitions/CharacteristicDefinitions.spec.ts
  src/lib/definitions/CharacteristicDefinitions.ts
  src/lib/definitions/ServiceDefinitions.spec.ts
  src/lib/definitions/ServiceDefinitions.ts
  src/lib/definitions/generator-configuration.ts
Labels: breaking change, chore
