Repository homebridge/HAP-NodeJS, pull requests merged in 2024-07, with the labels that each got.

#1052 fix: ensure we check names using the full UTF-8 character set.
  src/lib/util/checkName.ts
  tsconfig.json
Labels: beta, fix, latest

#1049 Fix ConfiguredName
  src/lib/Accessory.ts
  src/lib/Characteristic.ts
Labels: beta

#1051 fix: Ensure data is only transmitted on open and ready connections.
  src/lib/camera/RecordingManagement.ts
  src/lib/datastream/DataStreamServer.ts
Labels: beta, fix, latest

#1053 Fix Manufacturer looking at checkName but should look at checkValue
  src/lib/Accessory.ts
Labels: beta

#1055 Increase snapshot handler warning timeout to 8000ms.
  src/lib/controller/CameraController.ts
Labels: latest

#1056 Cleanup and refactor getLocalNetworkInterface and address a potential edge case.
  src/lib/util/eventedhttp.ts
Labels: latest

#1057 Linting fixes.
  src/lib/util/eventedhttp.ts
Labels: beta

#1058 Deprecate Core, BridgedCore, legacy Camera characteristics.
  src/BridgedCore.ts
  src/Core.ts
  src/index.ts
  src/types.ts
Labels: beta

#1059 Legacy code deprecation cleanup
  src/index.ts
  src/lib/Accessory.spec.ts
  src/lib/Accessory.ts
  src/lib/AccessoryLoader.ts
  src/lib/Advertiser.ts
  src/lib/Characteristic.spec.ts
  src/lib/Characteristic.ts
  src/lib/HAPServer.ts
  src/lib/Service.ts
  src/lib/camera/Camera.ts
  src/lib/camera/RTPStreamManagement.ts
  src/lib/camera/index.ts
  src/lib/controller/CameraController.spec.ts
  src/lib/controller/CameraController.ts
  src/lib/controller/RemoteController.ts
  src/lib/datastream/DataStreamServer.ts
  src/lib/definitions/CharacteristicDefinitions.spec.ts
  src/lib/definitions/CharacteristicDefinitions.ts
  src/lib/definitions/ServiceDefinitions.spec.ts
  src/lib/definitions/ServiceDefinitions.ts
  src/lib/util/tlv.spec.ts
  src/lib/util/tlv.ts
  src/lib/util/uuid.ts
Labels: beta

#1042 v1.0.0
  .github/workflows/pr-labeler.yml
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/BridgedCore.ts
  src/Core.ts
  src/accessories/Light-AdaptiveLighting_accessory.ts
  src/accessories/Sprinkler_accessory.ts
  src/index.ts
  src/lib/Accessory.spec.ts
  src/lib/Accessory.ts
  src/lib/AccessoryLoader.ts
  src/lib/Advertiser.ts
  src/lib/Characteristic.spec.ts
  src/lib/Characteristic.ts
  src/lib/HAPServer.spec.ts
  src/lib/HAPServer.ts
  src/lib/Service.ts
  src/lib/camera/Camera.ts
  src/lib/camera/RTPStreamManagement.ts
  src/lib/camera/RecordingManagement.ts
  src/lib/camera/index.ts
  src/lib/controller/AdaptiveLightingController.ts
  src/lib/controller/CameraController.spec.ts
  src/lib/controller/CameraController.ts
  src/lib/controller/RemoteController.ts
  src/lib/datastream/DataStreamServer.ts
  src/lib/definitions/CharacteristicDefinitions.spec.ts
  src/lib/definitions/CharacteristicDefinitions.ts
  src/lib/definitions/ServiceDefinitions.spec.ts
  src/lib/definitions/ServiceDefinitions.ts
  src/lib/util/checkName.spec.ts
  src/lib/util/checkName.ts
  src/lib/util/eventedhttp.ts
  src/lib/util/tlv.spec.ts
  src/lib/util/tlv.ts
  src/lib/util/uuid.ts
  src/types.ts
  tsconfig.json
  typedoc.json
Labels: breaking change, latest

#1066 Set ciao as default advertiser
  CHANGELOG.md
  src/lib/Accessory.ts
Labels: beta, latest
