Repository homebridge/HAP-NodeJS, pull requests merged in 2024-06, with the labels that each got.

#1037 Mitigate event emitter "memory leak" warnings when a significant number of camera streaming events occur simultaneously.
  src/lib/camera/RTPStreamManagement.ts
Labels: latest

#1009 Implement warning messages for invalid characters in names
  src/lib/Accessory.spec.ts
  src/lib/Accessory.ts
  src/lib/Characteristic.ts
  src/lib/Service.ts
  src/lib/util/checkName.spec.ts
  src/lib/util/checkName.ts
Labels: latest

#1040 Minor fixes to recording logging and one change in logging.
  src/lib/camera/RecordingManagement.ts
Labels: fix, latest

#1043 Updated and fixed `typedoc` config file
  CHANGELOG.md
  package-lock.json
  package.json
  typedoc.json
Labels: beta

#1041 Build issues - https://github.com/homebridge/HAP-NodeJS/actions/runs/9630265250/job/26560643600
  src/lib/HAPServer.spec.ts
  typedoc.json
Labels: beta

#1038 AdaptiveLightingController fix & improvement
  src/accessories/Light-AdaptiveLighting_accessory.ts
  src/lib/controller/AdaptiveLightingController.ts
Labels: beta, feature, latest
